.board {
  display: grid;
  grid-template-columns: repeat(19, 30px);
  grid-gap: 1px;
}

.stone {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-sizing: border-box;
}

.black {
  background-color: #000;
}

.white {
  background-color: #fff;
}
