#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9997;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-logo {
  width: 12.5%; 
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.loading-line {
  animation: swing 4s ease-in-out infinite;
  z-index: 9998;
  width: 25vw; 
  height: 20px;
  top: 80vh;
  left: 25%;
  border: 3px solid transparent; /* ボーダーの太さと透明 */
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); /* 虹色のグラデーション */
  background-origin: border-box; /* ボーダー内側の背景を指定 */
  background-clip: padding-box;
  border-radius: 10px; /* 角丸 */
}
@keyframes fadeout {
    from {
        opacity: 1; /* 開始時の透明度 */
    }
    to {
        opacity: 0; /* 終了時の透明度 */
    }
}
@keyframes swing {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(200px); /* スイングの最大幅 */
  }
  40% {
    transform: translateX(-200px); /* スイングの最小幅 */
  }
  60% {
    transform: translateX(400px); /* スイングの最大幅 */
  }
  80% {
    transform: translateX(-400px); /* スイングの最小幅 */
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (orientation: landscape) {
  .loading-line {
    width: 20vw;
    height: 8px;
  }
  .loading-logo {
    width: 5%; /* 画像の幅を調整 */
  }
}
@media (prefers-color-scheme: dark) {
  /* ダークモード用のスタイル */
  #loading-screen {
    background-color: black;
  }
}

