body, html {
  height: 100%;
  margin: 0; /* マージンをゼロに設定して余白を取り除く */
}

body {
  background-image: url("background-image.png");
  background-repeat: no-repeat;
  background-size: cover; /* 画面に合わせて拡大表示 */
  background-position: center;
  background-color: white;
  position: relative;
}

/* スタイルの追加 */
.pop-upbtn {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 80px;
  height: 80px;
  background: none;
  border: none;
  cursor: pointer;
}

.line {
  width: 60px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #333;
  margin: 10px 10px;
}

.pop-upa {
  width: 48px;
  height: auto;
}
.btn {
  width: 100%;
  height: 100%;
}


.con {
  font-size: 60px;
}

.close {
  font-size: 70px;
}

.terms {
  font-size: 80px;
  font-family: 'Kaisei HarunoUmi', serif;
  color: black;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  size: contain;
}

.input-box {
  background-color: transparent;
  color: black;
  width: 100%;
  height: auto;
  border: double 5px gray;
  padding: 10px;
  font-size: 60px;
  font-family: 'Kaisei HarunoUmi', serif;
  border-radius: 60px;
}
.biginput {
  position: relative;
  width: 52%;
}
.clear {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 0px; /* 右端からの余白 */
    margin-bottom: 0px; /* 下端からの余白 */
    cursor: pointer; 
    border: none;
    outline: none;
    text-decoration: none;
    background-color: white;
}

.clear::before,
.clear::after {
    content: '';
    position: absolute;
    height: 2px; /* 棒の太さ */
    width: 50px; /* 棒の長さ */
    background-color: red; /* ばつ印の色を設定 */
    top: 24px; /* 棒の位置を中央に調整 */
    left: 0;
}

.clear::before {
    transform: rotate(45deg);
}

.clear::after {
    transform: rotate(-45deg);
}

.search {
  width: 100%;
  height: auto;
}
.bigsearch {
  width: 12%;
  
}

#button {
  margin-left: 0px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: transparent;
  text-decoration: none;
  cursor: pointer; 
}


#ai {
  background-image: url("ai.png");
  border: none;
  margin-left: 0px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  text-decoration: none;
  
}

#photo {
  color: white;
  margin-left: 10px;
  border: none;
  outline: none;
  background: transparent;
  text-decoration: none;
  cursor: pointer; 
}

#translate {
  color: white;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  text-decoration: none;
  cursor: pointer; 
}



#output {
  width: auto;
  margin: 0px auto;
  padding: 5px;
  font-size: 30px;
  font-family: 'Kaisei HarunoUmi', serif;
  color: gray;
  border: none;
  color: black;
}
.bigreturn {
    width: 50%; /* または必要な幅に調整 */
    margin: 0 auto; /* 左右のマージンを自動で均等に設定して中央寄せ */
}

.return {
  display: none;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #000;
  background-color: transparent;  /* 背景色を透明に設定 */
  cursor: pointer;
}









/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
btn a img {
  height: 80px;
  width: auto;
}
p.con {
  color: black;
}
