
.biz-udmincho-regular {
  font-family: "BIZ UDMincho", serif;
  font-weight: 400;
  font-style: normal;
}

body, html {
  height: 100%;
  margin: 0; /* マージンをゼロに設定して余白を取り除く */
}

body {
  
  background-repeat: no-repeat;
  background-size: cover; /* 画面に合わせて拡大表示 */
  background-position: center;
  background-color: white;
  position: relative;
}
.menu {
  display: flex;
}
/* スタイルの追加 */
.pop-upbtn {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 80px;
  height: 80px;
  background: none;
  border: none;
  cursor: pointer;
  margin: 20px;
}

.line {
  width: 60px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #333;
  margin: 10px 10px;
}

.pop-upa {
  width: 48px;
  height: auto;
}
.btn {
  width: 100%;
  height: 100%;
}


.con {
  font-size: 60px;
}

.close {
  font-size: 90px;
}

.terms {
  font-size: 50px;
  font-family: "BIZ UDMincho", serif;
  color: black;
  text-decoration: none;
  margin: 40px;
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  size: contain;
}




/* 幅が 600px 以下の場合のスタイル */


.input-box {
  background-color: transparent;
  color: black;
  width: 100%;
  height: 1.2em;
  border: double 5px gray;
  padding: 10px;
  font-size: 60px;
  font-family: "BIZ UDMincho", serif;

  border-radius: 60px;
}
.biginput {
  position: relative;
  width: 52%;
  padding-right: 10px;
}
.clear {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 0px; /* 右端からの余白 */
    margin-bottom: 0px; /* 下端からの余白 */
    cursor: pointer; 
    border: none;
    outline: none;
    text-decoration: none;
    background-color: white;
}

.clear::before,
.clear::after {
    content: '';
    position: absolute;
    height: 2px; /* 棒の太さ */
    width: 50px; /* 棒の長さ */
    background-color: red; /* ばつ印の色を設定 */
    top: 24px; /* 棒の位置を中央に調整 */
    left: 0;
}

.clear::before {
    transform: rotate(45deg);
}

.clear::after {
    transform: rotate(-45deg);
}

.search {
  width: 100%;
  height: auto;
}
.bigsearch {
  width: 12%;
  
}

#button {
  margin-left: 0px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: transparent;
  text-decoration: none;
  cursor: pointer; 
}


#ai {
  background-image: url("ai.png");
  border: none;
  padding: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  text-decoration: none;
  
}

#photo {
  color: white;
  margin-left: 10px;
  border: none;
  outline: none;
  background: transparent;
  text-decoration: none;
  cursor: pointer; 
}

#translate {
  color: white;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  text-decoration: none;
  cursor: pointer; 
  padding-left: 10px;
}






/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
btn a img {
  height: 80px;
  width: auto;
}
p.con {
  color: black;
}
.form {
  height: 600px;
  width: 100%;
}
.space {
    display: block;
    background-color: #fff;
    width: 100%;
    height: 900px; 
  
}
@media only screen and (max-width: 430px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    size: contain;
  }
}

/* 幅が 1200px 以下の場合のスタイル */

@media only screen and (min-width: 600px) and (max-width: 765px) { 
  .biginput {
  position: relative;
    width: 60%;
  }
  .input {
    font-size: 40px;
  }
  #button {
    width: 10%
  }
  #ai {
    width: 10%;
  }
  #photo {
    width: 10%;
  }
  #translate {
    width: 10%;
  }
}
@media only screen and (min-width: 1000px) {
  .biginput {
    position: relative;
    width: 60%;
  }
  .input {
    font-size: 40px;
  }
  #button {
    width: 10%
  }
  #ai {
    width: 10%;
  }
  #photo {
    width: 10%;
  }
  #translate {
    width: 10%;
  }
    
}
@media only screen and (min-width: 765px) and (max-width: 1000px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    size: contain;
  }  
}
@media (prefers-color-scheme: dark) {
  /* ダークモード用のスタイル */
  body {
    background-color: black;
    color: #fff;
  }
  .input-box {
    background-color: black;
    color: #fff;
    border-color: white;
  }
  .line {
    background-color: white;
  }
  .terms {
    color: white;
  }
  .clear {
    background-color: black;
  }
  .space {
    background-color: black;
  }
  p.con {
    color: black;
  }
  
}
#history_box {
  border-bottom: 1px black;
  display: flex;
  justify-content: center;
  
}
#history_btn {
  height: 20px;
  width: 20px; 
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
}

.history {
  text-align: center;
  margin: 20px;
  text-size: 20px;
}
#history_btn_img {
  height: 20px;
  whidh: 20px;
}

