body, html {
  height: 100%;
  margin: 0; 
}
body {
  background-image: url(background-image.webp);
  background-repeat: no-repeat;
  background-size: auto 100%; /* 画面に合わせて拡大表示 */
  background-position: center;
  background-color: white;
  background-attachment: fixed;
  position: relative;
}
.menu {
  display: flex;
}
/* スタイルの追加 */
.pop-upbtn {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 80px;
  height: 80px;
  background: none;
  border: none;
  cursor: pointer;
  margin: 20px;
}
.line {
  width: 60px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  margin: 10px 10px;
}
.pop-upa {
  width: 48px;
  height: auto;
}
.btn {
  width: 100%;
  height: 100%;
}
.con {
  font-size: 60px;
}
.close {
  font-size: 90px;
}
.terms {
  font-size: 50px;
  font-family: "BIZ UDMincho", serif;
  color: white;
  text-decoration: none;
  margin: 40px;
  display: none;
}
.imagemenu {
  font-size: 50px;
  font-family: "BIZ UDMincho", serif;
  color: white;
  text-decoration: none;
  margin: 40px;
  display: none;
}
#background-image {
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: 50px;
  margin-left: 40px;
  top: 40px;
  color: white;
  font-family: "BIZ UDMincho", serif; 
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  size: contain;
}
.input-box {
  background-color: rgba(255,255,255,0.5);
  color: black;
  width: 100%;
  height: 1.2em;
  border: double 5px gray;
  padding: 10px;
  font-size: 60px;
  font-family: "BIZ UDMincho", serif;
  border-radius: 0.6em;
}
.biginput {
  position: relative;
  width: 52%;
  padding-right: 10px;
}
.clear {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 0px; /* 右端からの余白 */
    margin-bottom: 0px; /* 下端からの余白 */
    cursor: pointer; 
    border: none;
    outline: none;
    text-decoration: none;
    background-color: transparent;
}
.clear::before,
.clear::after {
    content: '';
    position: absolute;
    height: 2px; /* 棒の太さ */
    width: 50px; /* 棒の長さ */
    background-color: red; /* ばつ印の色を設定 */
    top: 24px; /* 棒の位置を中央に調整 */
    left: 0;
}
.clear::before {
    transform: rotate(45deg);
}
.clear::after {
    transform: rotate(-45deg);
}
.search {
  width: 100%;
  height: auto;
}
.bigsearch {
  width: 12%;
}
#button {
  margin-left: 0px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: transparent;
  text-decoration: none;
  cursor: pointer; 
}
#ai {
  background-image: url("ai.png");
  border: none;
  padding: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  text-decoration: none;
}
#photo {
  color: white;
  margin-left: 10px;
  border: none;
  outline: none;
  background: transparent;
  text-decoration: none;
  cursor: pointer; 
}
#translate {
  color: white;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  text-decoration: none;
  cursor: pointer; 
  padding-left: 10px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#result {
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #fff;
  position: fixed;
  display: none;
}
.result-tittle {
  z-index: 4;
  margin: 25px;
  font-size: 70px;
  color: #CC0000;
  postion: fixed;
}
.result-tittle-box{
  width: 100%;
  border-bottom: solid;
}
.result-text {
  z-index: 3;
  margin: 25px;
  font-size: 50px
}
#result-link {
  z-index: 3;
  margin: 25px;
  font-size: 50px;
}
.resultbtn {
  z-index: 4;
  margin: 0.6em;
  font-size: 90px;
  position: fixed;
  bottom: 0;
  left: 0; 
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
btn a img {
  height: 80px;
  width: auto;
}
p.con {
  color: black;
}
#history_place {
  width: 100%;
}
#history_box_2 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.history {
  font-size: 50px;
  line-height: 130%;
  color: white;
  padding: 0;
  margin: 10px;
}
#history_box {
  align-items: center;
  margin: 5px;
  border-bottom: solid;
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%; 
  background-color: rgba(128,128,128,0.3);
  padding: 0;
}
#history_btn {
  height: 50px;
  width: 53px; 
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
  margin: 10px;
}
#history_btn_img {
  height: 50px;
  whidh: auto;
}
@keyframes zoomout {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes zoomin {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeout {
    from {
        opacity: 1; /* 開始時の透明度 */
    }
    to {
        opacity: 0; /* 終了時の透明度 */
    }
}
@keyframes fadein {
    from {
        opacity: 0; /* 開始時の透明度 */
    }
    to {
        opacity: 1; /* 終了時の透明度 */
    }
}
@keyframes swing {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(200px); /* スイングの最大幅 */
  }
  40% {
    transform: translateX(-200px); /* スイングの最小幅 */
  }
  60% {
    transform: translateX(400px); /* スイングの最大幅 */
  }
  80% {
    transform: translateX(-400px); /* スイングの最小幅 */
  }
  100% {
    transform: translateX(0);
  }
}
@media (prefers-color-scheme: dark) {
  /* ダークモード用のスタイル */
  body {
    background-image: url(background-image_dark.webp);
    background-color: black;
    color: #fff;
  }
  .input-box {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border-color: white;
  }
  .history {
    color: #ff8c00;
  }
  p.con {
    color: black;
  }
  #result {
    background-color: black;
  }
}
@media (min-width: 768px) {
  .imagemenu {
    display: block;
  }
  .terms{
    display: block;
  }
}
@media screen and (orientation: landscape) {
  /* 横長の画面に適用するスタイル */
  body {
    background-size: 100%;
  }
  .biginput {
    position: relative;
    width: 60%;
  }
  .input {
    font-size: 40px;
  }
  #button {
    width: 10%
  }
  #ai {
    width: 10%;
  }
  #photo {
    width: 10%;
  }
  #translate {
    width: 10%;
  }
  #history_box {
    width: 60%;
  }
  .imagemenu {
    display: block;
  }
 .terms{
    display: block;
  }
}
