body, html {
  height: 100%;
  margin: 0; /* マージンをゼロに設定して余白を取り除く */
}

body {
  background-image: url("background-image.png");
  background-repeat: no-repeat;
  background-size: cover; /* 画面に合わせて拡大表示 */
  background-position: center;
  background-color: white;
  position: relative;
}
.pop-upbtn {
  border: none;
  outline: none;
  background: transparent;
  text-decoration: none;
  cursor: pointer; 
}

.con {
  font-size: 60px;
}

.close {
  font-size: 70px;
}

.terms {
  font-size: 80px;
  color: black;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  size: contain;
}

.input-box {
  background-color: transparent;
  color: black;
  width: 500px;
  height: auto;
  border: double 5px gray;
  padding: 10px;
  font-size: 60px;
  border-radius: 0px;
}
.biginput {
  position: relative;
}

#clear {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10px; /* 右端からの余白 */
  margin-bottom: 10px; /* 下端からの余白 */
  border: none;
  outline: none;
  background: transparent;
  text-decoration: none;
  cursor: pointer; 
}


#button {
  margin-left: 10px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: transparent;
  text-decoration: none;
  cursor: pointer; 
}

#ai {
  background-image: url("ai.png");
  border: none;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  text-decoration: none;
  
}

#photo {
  color: white;
  margin-left: 10px;
  border: none;
  outline: none;
  background: transparent;
  text-decoration: none;
  cursor: pointer; 
}

#translate {
  color: white;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  text-decoration: none;
  cursor: pointer; 
}



#output {
  width: 300px;
  margin: 0px auto;
  padding: 5px;
  font-size: 60px;
  color: gray;
  border: none;
  color: black;
}
.- {
  font-size: 60px;
}


button.+a {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 120%;
  position: absolute;
  top: 100;
  left: 0;
  margin: 1em 0;
  border: none;
  background-color: transparent;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
btn a img {
  height: 80px;
  width: auto;
}
p.con {
  color: black;
}
